# Ignorar archivos sin extensión
*

# No ignorar directorios
!*/

# No ignorar archivos con punto (extensión o dotfiles)
!*.*

# Ignorar ejecutables de Windows
*.exe

# Ignorar archivo específico
/Juegos/Buscaminas/notas.md
.clangd
.atl
requirements.pdf
.vscode

// Ignorar archivos de especificación SDD
openspec
sdd
